$brown: #a06000;
$blue: #2905db;
$purple: #78089f;
$red: #d6221d;
$green: #09c750;

$product-color-1: #0fb9b9;
$product-color-2: #d17975;
$product-color-3: #0d599f;
$product-color-4: #b521b8;
$product-color-5: #a88e29;

$table-color-1: rgba(0, 0, 0, 0.05);
$table-color-2: #d2ffff;
$table-color-3: #ffcfcd;
$table-color-4: #afd9ff;
$table-color-5: #fda9ff;
$table-color-6: #e2d6a7;

$grey-co: #f7f7f7;
$gray-bg: #f5f5f5;
$red-co: #d6221d;
$red-co-50: #d6231d57;
$red-co-hv: #aa1c17;
$red-shadow-co: #d6231d36;
$size1: 48px;
$size15: 42px;
$size2: 36px;
$size25: 28px;
$size3: 24px;
$size35: 18px;

@import "layout/header";
@import "layout/footer";
@import "layout/owlcarosel";

@import "pages/application";
@import "pages/company";
@import "pages/contact";
@import "pages/home";
@import "pages/product-detail";
@import "pages/product-list";
@import "reponsive";

body {
  padding: 0;
  margin-top: 135px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
a.current-page {
  text-decoration: underline;
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under;
}

.red-co {
  color: $red-co;
}
.red-co-hv:hover {
  color: $red-co-hv;
}
.yellow-co {
  color: #a06000;
}
.yellow-co-hv:hover {
  color: #834e00;
}
.purple-co {
  color: #78089f;
}
.purple-co-hv:hover {
  color: #5f077c;
}
.green-co {
  color: #09c750;
}
.green-co-hv:hover {
  color: #08a542;
}
.blue-co {
  color: #2905db;
}
.blue-co-hv:hover {
  color: #1b00a3;
}
