#header {
  padding: 11.5px 0;
  position: fixed;
  top: 0;
  transition: .3s ease;
  width: 100%;
  z-index: 9999; }
  #header .hLeft .comp-name {
    font-size: 36px; }
  #header .hLeft .comp-tel {
    font-size: 42px; }
  #header .hRight {
    font-weight: bold; }
    #header .hRight .nav {
      font-size: 28px; }
      #header .hRight .nav li {
        margin-left: 35px; }

#bottom_to_top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999999;
  width: 50px;
  height: 50px;
  background: #d6231d57;
  bottom: -100px;
  right: 30px;
  transition: .3s ease; }
  #bottom_to_top:hover {
    background: #d6221d; }
  #bottom_to_top i {
    font-size: 24px; }

#footer {
  background: #E9E9E9;
  padding: 16px 0; }
  #footer .fLeft {
    font-size: 24px; }
    #footer .fLeft p {
      margin: 0 !important; }
  #footer .fRight .fNav li {
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px; }

section.map-product .map-product-wrapper {
  background-image: url("../images/bannerMap.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 546px; }
  section.map-product .map-product-wrapper .content {
    width: fit-content;
    padding: 6px;
    position: absolute;
    font-size: 16px; }
    section.map-product .map-product-wrapper .content-short {
      max-width: 222px;
      top: 12%; }
      @media (min-width: 768px) {
        section.map-product .map-product-wrapper .content-short {
          font-size: 30px; } }
      @media (min-width: 992px) {
        section.map-product .map-product-wrapper .content-short {
          font-size: 48px; } }
    section.map-product .map-product-wrapper .content-medium {
      max-width: 230px;
      top: 21%;
      left: 20.5%; }
      @media (min-width: 768px) {
        section.map-product .map-product-wrapper .content-medium {
          font-size: 20px;
          max-width: 400px; } }
      @media (min-width: 992px) {
        section.map-product .map-product-wrapper .content-medium {
          font-size: 36px;
          max-width: 683px; } }
    section.map-product .map-product-wrapper .content-long {
      max-width: 300px;
      top: 53%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media (min-width: 768px) {
        section.map-product .map-product-wrapper .content-long {
          font-size: 20px;
          max-width: 500px; } }
      @media (min-width: 992px) {
        section.map-product .map-product-wrapper .content-long {
          font-size: 36px;
          max-width: 815px; } }

section.cate-products {
  top: -90px; }
  section.cate-products .cate-tags {
    height: 220px;
    max-width: 1042px; }
    section.cate-products .cate-tags .cate-item {
      box-shadow: 0px 3px 6px 0px #d6d6d6; }
      section.cate-products .cate-tags .cate-item img {
        padding: 10px 10px 0 10px;
        height: 150px;
        object-fit: contain;
        background: white; }

section.application {
  padding-bottom: 80px; }
  section.application h1 {
    margin-bottom: 48px; }
  section.application .list-examples {
    margin-bottom: 34px; }
    section.application .list-examples img {
      width: 100%;
      margin-bottom: 24px; }
    section.application .list-examples .name {
      font-size: 36px;
      font-weight: bold;
      text-align: center; }
  section.application .see-more {
    font-size: 24px; }

section.profile-company {
  padding: 68px 0;
  background: #F5F5F5; }
  section.profile-company h1, section.profile-company h2 {
    max-width: 980px;
    margin: 0 auto; }
  section.profile-company h1 {
    font-weight: bold; }
  section.profile-company h2 {
    margin-bottom: 24px; }
  section.profile-company p {
    margin-top: 24px; }

section.noti-company {
  padding: 63px 0;
  background-image: url("../images/bg-deco.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 593px; }
  section.noti-company h1 {
    font-size: 48px;
    max-width: 615px; }

section.tech-info {
  padding: 80px 0; }
  section.tech-info h1 {
    margin-bottom: 48px; }
  section.tech-info .tech-info-list li {
    text-decoration: underline;
    -webkit-text-underline-position: under;
    -ms-text-underline-position: below;
    text-underline-position: under;
    margin-bottom: 30px;
    font-size: 24px; }

section.company-desc div.intro {
  padding: 48px 0; }
  section.company-desc div.intro h1 {
    font-size: 48px;
    margin-bottom: 12px; }
  section.company-desc div.intro p {
    font-size: 24px; }
section.company-desc div.info {
  background: #F5F5F5;
  padding: 48px 0; }
  section.company-desc div.info h2:not(:first-child) {
    font-size: 36px;
    margin-top: 48px;
    margin-bottom: 24px; }
  section.company-desc div.info p {
    font-size: 24px; }

section.company-profile .content {
  padding: 80px 0; }
  section.company-profile .content .content1 {
    margin-bottom: 24px; }
    section.company-profile .content .content1 .text h1 {
      margin-bottom: 42px; }
    section.company-profile .content .content1 .text .text-render p, section.company-profile .content .content1 .text .text-render li {
      font-size: 24px; }
  section.company-profile .content .content2 h1 {
    margin-bottom: 24px; }
  section.company-profile .content .content2 .text li {
    font-size: 24px; }
section.company-profile .address-ggmap {
  line-height: 0; }
  section.company-profile .address-ggmap iframe {
    width: 100%; }

section.contact-desc .contact-title {
  padding: 80px 0 48px 0; }
  section.contact-desc .contact-title h1, section.contact-desc .contact-title p {
    font-size: 48px;
    font-weight: bold; }
section.contact-desc .contact-detail {
  background: #F5F5F5;
  padding: 30px 0 54px 0; }
  section.contact-desc .contact-detail .para1 {
    font-size: 24px;
    margin-bottom: 12px; }
  section.contact-desc .contact-detail .para2 {
    font-size: 18px;
    margin-bottom: 12px; }
  section.contact-desc .contact-detail .box-tel {
    position: relative;
    max-width: 856px;
    padding: 24px;
    margin: 12px auto;
    border: 5px solid #d6221d !important;
    background: white;
    font-weight: bold; }
    section.contact-desc .contact-detail .box-tel-left {
      font-size: 36px; }
    section.contact-desc .contact-detail .box-tel-right {
      font-size: 24px; }
    section.contact-desc .contact-detail .box-tel::after {
      content: '';
      height: 143px;
      width: 1px;
      background: #B0B0B0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

section.contact-form {
  padding: 48px 0; }
  section.contact-form .contact-form-desc {
    margin-bottom: 48px; }
    section.contact-form .contact-form-desc p {
      font-size: 24px; }
  section.contact-form .form-place {
    max-width: 1016px;
    margin: 0 auto; }
    section.contact-form .form-place form#contactForm {
      margin-bottom: 48px; }
      section.contact-form .form-place form#contactForm .form-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px; }
        section.contact-form .form-place form#contactForm .form-group label {
          font-size: 24px;
          font-weight: bold;
          margin-right: 12px; }
        section.contact-form .form-place form#contactForm .form-group span.required-tag {
          margin-right: auto; }
        section.contact-form .form-place form#contactForm .form-group input {
          height: 60px; }
        section.contact-form .form-place form#contactForm .form-group textarea {
          height: 330px; }
        section.contact-form .form-place form#contactForm .form-group input, section.contact-form .form-place form#contactForm .form-group textarea {
          border: 1px solid black;
          width: 70%; }
      section.contact-form .form-place form#contactForm input.btn-cus {
        margin-top: 48px; }
    section.contact-form .form-place .box-guide {
      margin-bottom: 48px; }
      section.contact-form .form-place .box-guide .head {
        background: #d6221d;
        padding: 24px; }
        section.contact-form .form-place .box-guide .head p {
          font-size: 24px; }
      section.contact-form .form-place .box-guide .foot {
        padding: 30px 25px 50px 25px;
        border: 1px solid black;
        border-top: none; }
        section.contact-form .form-place .box-guide .foot p {
          font-size: 24px; }
  section.contact-form ul.recomend-cate li {
    font-size: 36px; }

.red-co {
  color: #d6221d; }

.red-co-hv:hover {
  color: #aa1c17; }

.yellow-co {
  color: #A06000; }

.yellow-co-hv:hover {
  color: #834e00; }

.purple-co {
  color: #78089f; }

.purple-co-hv:hover {
  color: #5f077c; }

.green-co {
  color: #09C750; }

.green-co-hv:hover {
  color: #08a542; }

.blue-co {
  color: #2905DB; }

.blue-co-hv:hover {
  color: #1b00a3; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

p {
  margin: 0; }

a {
  text-decoration: none; }

a.current-page {
  text-decoration: underline;
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under; }

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 135px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1228px !important; } }

.owl-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%); }

button.owl-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #d6221d !important;
  margin-left: 12px;
  transition: 0.2s; }
  button.owl-dot:hover {
    background: #d6221d !important; }
  button.owl-dot.active {
    background: #d6221d !important; }
  @media (min-width: 992px) {
    button.owl-dot {
      width: 23px;
      height: 23px;
      border-radius: 100%; } }

.required-tag {
  color: white;
  background: #d6221d;
  padding: 8px 20px;
  border-radius: 15px; }

.btn-cus {
  padding: 21px 71px;
  background: #d6221d;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border-radius: 10px;
  border: none; }

/*# sourceMappingURL=hieu_style.css.map */
