#page-application {
  .banner {
    padding: 0;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .text1Col,
  .text2Col {
    padding: 0;
    .text-sub-title {
      font-size: 36px;
      font-weight: bold;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background-color: #64646466;
        bottom: -10px;
        left: 0;
        height: 0.5px;
        width: 100%;
      }
    }
    .text-list {
      list-style-type: disc;
      margin-bottom: 1rem;
      padding-left: 2rem;
      li {
        line-height: 50px;
        font-size: 24px;
      }
    }
  }
  .text2Col {
    .text-list {
      display: flex;
      flex-wrap: wrap;
      li {
        flex-basis: 50%;
        line-height: 50px;
      }
    }
  }
  .product-img {
    object-fit: cover;
    width: 100%;
  }
  section {
    padding: 50px 0;
    &:nth-child(3) {
      background-color: #f5f5f5;
    }
  }
  .section-last .text2Col {
    padding-top: 50px;
  }
  .header {
    text-align: center;
    margin-bottom: 50px;
    .text-title {
      font-size: 48px;
      font-weight: bold;
    }
    .text-sub-title {
      font-size: 24px;
      font-weight: bold;
    }
  }
}
@media (max-width: 767px) {
  #page-application {
    .text1Col,
    .text2Col {
      padding: 24px 0 12px;
      .text-sub-title {
        font-size: 18px;
        margin: 0;
      }
      .text-list {
        display: block;
        margin-bottom: 0.5rem;
        padding-left: 1rem;
        li {
          line-height: 25px;
          font-size: 16px;
        }
      }
    }
    section {
      padding: 25px 30px;
    }
    .section-last .text2Col {
      padding: 0;
    }
    .header {
      margin-bottom: 25px;
      .text-title {
        font-size: 24px;
      }
      .text-sub-title {
        font-size: 18px;
      }
    }
  }
}
