section.banner-home{
    // img{
    //     width: 100%;
    //     object-fit: cover;
    //     height: 100%;
    //     max-width: initial;
    //     // @media (max-width: 1200px) { 
    //     //     height: 428px;
    //     // }
    // }
}

section.map-product{
    .map-product-wrapper{
        background-image: url("../images/page-home/bannerMap.png");
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover;
        height: 546px;
        @media (max-width: 768px) { 
            height: 162px;
        }
        @media (max-width: 1400px) {
            font-size:$size25;
        } 
        @media (max-width: 992px) { 
            height: 273px;
        }
        .content{
            width: fit-content; 
            padding: 16px;
            position: absolute;
            font-size: 16px;
            border-radius: 15px;
            @media (max-width: 1400px) {
                font-size:$size25;
            } 
            @media (max-width: 992px) { 
                padding: 6px 10px;
            }
            &-short{
                max-width: 225px;
                top: 12%;
                font-size: $size1;
                @media (max-width: 1400px) {
                    font-size:$size25;
                }
                @media (max-width: 992px) {
                    top: 20%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: $size3;
                }
            }
            &-medium{
                max-width: 230px;
                top: 21%;
                left: 20.5%;
                font-size: $size2;
                max-width: 683px;
                @media (max-width: 1400px) {
                    font-size:$size25;
                } 
                @media (max-width: 992px) { 
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 12px;
                    max-width: 400px;
                }
            }
            &-long{
                text-align: end;
                max-width: 300px;
                top: 53%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: $size2;
                max-width: 815px;
                @media (max-width: 1400px) {
                    font-size:$size25;
                } 
                @media (max-width: 992px) { 
                    top: 70%; 
                    font-size: 14px;
                    max-width: 500px;
                }

            }
        }

    }
}
section.cate-products{

    top:-100px;
    @media (max-width: 1200px) { 
        top:0;
        padding: 24px 0 44px;
    }
    .wrapper{
        // height: 220px;
    .title{
        font-size: $size3;
        @media (max-width: 1200px) {
            font-size: $size35;
            text-align: center;
        }
    }
    .cate-tags{
        max-width: 1042px;
        width: 100%;
        @media (max-width: 1200px) {
            max-width: 850px;
        }
        .cate-item{
            border-radius: 10px;
            box-shadow: 0px 9px 19px 0px #d6d6d6;
            background: white;
            @media (max-width: 576px) { 
    
            }
            @media (max-width: 1200px) { 
                margin-bottom: $size3;
            }
            img{
                border-radius: 10px;
                width: 100%;
                padding: 10px 10px 0 10px;
                height: 150px;
                object-fit: contain;
                background: white;
                @media (max-width: 425px) { 
                    height: 100px;
                    object-fit: cover;

                }
                }
                p{
                    font-size: $size3;
                    @media (max-width: 1200px) { 
                        font-size: $size3mb;
                    }
                }
            }
        }
    }
}

section.application{
    padding-bottom: 80px;
    h1{
        margin-bottom: $size1;
        @media (max-width: 1200px) { 
            margin-bottom: $size1mb;
            font-size: $size1mb;
        }
    }
    .list-examples{
        margin-bottom: 34px;
        img{
            width: 100%;
            margin-bottom: $size3;
        }
        .name{
            font-size: $size2;
            font-weight: bold;
            text-align: center;
            @media (max-width: 1200px) { 
                font-size: $size2mb;
            }
        }

    }

}

section.profile-company{
    padding: 68px 0;
    @media (max-width: 1200px) { 
        padding: 32px 0;
    }
    background:$gray-bg ;
    h1,h2{
       max-width: 980px;
       margin: 0 auto;

    }
    h1{
        font-weight: bold;
        font-size: $size1;
        @media (max-width: 1200px) { 
            font-size: $size1mb;
        }
    }
    h2{
        margin-bottom: $size3;
        font-size: $size2;
        @media (max-width: 1200px) { 
            font-size: $size2mb;
        }
    }
    p{
        margin-top: $size3;
    }
}

section.noti-company{
        padding: 63px 0;    
        background-image: url("../images/page-home/bg-decor.jpg");
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover;
        height: 593px;
        font-weight: bold;
        color: white;
        @media (max-width: 1200px) { 
            height: 176px;
            padding: 54px;
        }
    
    h1{
        font-size: $size1;
        max-width: 615px;
        @media (max-width: 1200px) { 
            font-size: $size1mb;
        }
    }
    p{
        font-size: $size2;
        @media (max-width: 1200px) { 
            font-size: $size2mb;
        }
    }

}

section.tech-info{
    padding: 80px 0 ;
    @media (max-width: 1200px) { 
        padding: $size1 0;
}
    h1{
        margin-bottom: $size1;
        @media (max-width: 1200px) { 
            margin-bottom: $size1mb;
    }
    }
    .tech-info-list{
        li{
            text-decoration: underline;
            -webkit-text-underline-position: under;
            -ms-text-underline-position: below;
            text-underline-position: under; 
            margin-bottom: 30px;
            font-size: $size3;
            @media (max-width: 1200px) { 
                margin-bottom: 12px;
                font-size: $size35;
        }
        }
    }
} 